In [35]:
# Import libraries

import numpy as np
import pandas as pd

In [36]:

jobData_df = pd.read_csv('fake_job_postings.csv', low_memory=False)

projections_df = pd.read_csv('Employment_Projections.csv', low_memory=False)

test_df = pd.read_csv('fake_job_postings.csv', low_memory=False)

In [37]:
jobData_df.info

<bound method DataFrame.info of        job_id                                              title  \
0           1                                   Marketing Intern
1           2          Customer Service - Cloud Video Production
2           3            Commissioning Machinery Assistant (CMA)
3           4                  Account Executive - Washington DC
4           5                                Bill Review Manager
...       ...                                                ...
17875   17876                   Account Director - Distribution
17876   17877                                 Payroll Accountant
17877   17878  Project Cost Control Staff Engineer - Cost Con...
17878   17879                                   Graphic Designer
17879   17880                         Web Application Developers

                   location   department salary_range  \
0          US, NY, New York    Marketing          NaN
1            NZ, , Auckland      Success          NaN
2             US, IA, Wever          NaN          NaN
3        US, DC, Washington        Sales          NaN
4        US, FL, Fort Worth          NaN          NaN
...                     ...          ...          ...
17875       CA, ON, Toronto        Sales          NaN
17876  US, PA, Philadelphia   Accounting          NaN
17877       US, TX, Houston          NaN          NaN
17878         NG, LA, Lagos          NaN          NaN
17879     NZ, N, Wellington  Engineering          NaN

                                         company_profile  \
0      We're Food52, and we've created a groundbreaki...
1      90 Seconds, the worlds Cloud Video Production ...
2      Valor Services provides Workforce Solutions th...
3      Our passion for improving quality of life thro...
4      SpotSource Solutions LLC is a Global Human Cap...
...                                                  ...
17875  Vend is looking for some awesome new talent to...
17876  WebLinc is the e-commerce platform and service...
17877  We Provide Full Time Permanent Positions for m...
17878                                                NaN
17879  Vend is looking for some awesome new talent to...

                                             description  \
0      Food52, a fast-growing, James Beard Award-winn...
1      Organised - Focused - Vibrant - Awesome!Do you...
2      Our client, located in Houston, is actively se...
3      THE COMPANY: ESRI – Environmental Systems Rese...
4      JOB TITLE: Itemization Review ManagerLOCATION:...
...                                                  ...
17875  Just in case this is the first time you’ve vis...
17876  The Payroll Accountant will focus primarily on...
17877  Experienced Project Cost Control Staff Enginee...
17878  Nemsia Studios is looking for an experienced v...
17879  Who are we?Vend is an award winning web based ...

                                            requirements  \
0      Experience with content management systems a m...
1      What we expect from you:Your key responsibilit...
2      Implement pre-commissioning and commissioning ...
3      EDUCATION: Bachelor’s or Master’s in GIS, busi...
4      QUALIFICATIONS:RN license in the State of Texa...
...                                                  ...
17875  To ace this role you:Will eat comprehensive St...
17876  - B.A. or B.S. in Accounting- Desire to have f...
17877  At least 12 years professional experience.Abil...
17878  1. Must be fluent in the latest versions of Co...
17879  We want to hear from you if:You have an in-dep...

                                                benefits  telecommuting  \
0                                                    NaN              0
1      What you will get from usThrough being part of...              0
2                                                    NaN              0
3      Our culture is anything but corporate—we have ...              0
4                                  Full Benefits Offered              0
...                                                  ...            ...
17875  What can you expect from us?We have an open cu...              0
17876  Health &amp; WellnessMedical planPrescription ...              0
17877                                                NaN              0
17878  Competitive salary (compensation will be based...              0
17879                                                NaN              0

       has_company_logo  has_questions employment_type required_experience  \
0                     1              0           Other          Internship
1                     1              0       Full-time      Not Applicable
2                     1              0             NaN                 NaN
3                     1              0       Full-time    Mid-Senior level
4                     1              1       Full-time    Mid-Senior level
...                 ...            ...             ...                 ...
17875                 1              1       Full-time    Mid-Senior level
17876                 1              1       Full-time    Mid-Senior level
17877                 0              0       Full-time                 NaN
17878                 0              1        Contract      Not Applicable
17879                 1              1       Full-time    Mid-Senior level

      required_education                   industry              function  \
0                    NaN                        NaN             Marketing
1                    NaN  Marketing and Advertising      Customer Service
2                    NaN                        NaN                   NaN
3      Bachelor's Degree          Computer Software                 Sales
4      Bachelor's Degree     Hospital & Health Care  Health Care Provider
...                  ...                        ...                   ...
17875                NaN          Computer Software                 Sales
17876  Bachelor's Degree                   Internet   Accounting/Auditing
17877                NaN                        NaN                   NaN
17878       Professional             Graphic Design                Design
17879                NaN          Computer Software           Engineering

       fraudulent
0               0
1               0
2               0
3               0
4               0
...           ...
17875           0
17876           0
17877           0
17878           0
17879           0

[17880 rows x 18 columns]>

In [38]:
jobData_df['salary_range'].head(40)

0               NaN
1               NaN
2               NaN
3               NaN
4               NaN
5               NaN
6       20000-28000
7               NaN
8               NaN
9               NaN
10    100000-120000
11              NaN
12              NaN
13              NaN
14              NaN
15    120000-150000
16              NaN
17              NaN
18              NaN
19              NaN
20              NaN
21              NaN
22              NaN
23    100000-120000
24              NaN
25              NaN
26              NaN
27              NaN
28              NaN
29              NaN
30              NaN
31      50000-65000
32              NaN
33              NaN
34              NaN
35              NaN
36              NaN
37              NaN
38              NaN
39              NaN
Name: salary_range, dtype: object

In [39]:
jobData_df.isnull().sum()

job_id                     0
title                      0
location                 346
department             11547
salary_range           15012
company_profile         3308
description                1
requirements            2695
benefits                7210
telecommuting              0
has_company_logo           0
has_questions              0
employment_type         3471
required_experience     7050
required_education      8105
industry                4903
function                6455
fraudulent                 0
dtype: int64

In [40]:
jobData_df.count()

job_id                 17880
title                  17880
location               17534
department              6333
salary_range            2868
company_profile        14572
description            17879
requirements           15185
benefits               10670
telecommuting          17880
has_company_logo       17880
has_questions          17880
employment_type        14409
required_experience    10830
required_education      9775
industry               12977
function               11425
fraudulent             17880
dtype: int64

In [42]:
projections_df.head(20)

,Occupation Title,Occupation Code,Employment 2020,Employment 2030,"Employment Change, 2020-2030","Employment Percent Change, 2020-2030","Occupational Openings, 2020-2030 Annual Average",Median Annual Wage 2020,Typical Entry-Level Education,Education Code,Work Experience in a Related Occupation,Workex Code,Typical on-the-job Training,trCode
0,Accountants and auditors * Account Auditor*...,"=""13-2011""","1,392.2","1,488.2",96.0,6.9,135.0,"73,560",Bachelor's degree,3,None,4,None,6
1,Actors * Actor Understudy* Actress* Dramati...,"=""27-2011""",51.6,68.3,16.7,32.4,8.2,NaN,"Some college, no degree",6,None,4,Long-term on-the-job training,3
2,Actuaries * Actuarial Associate* Actuarial ...,"=""15-2011""",27.7,34.5,6.8,24.5,2.4,"111,030",Bachelor's degree,3,None,4,Long-term on-the-job training,3
3,Acupuncturists and healthcare diagnosing or tr...,"=""29-1298""",55.7,58.3,2.6,4.7,3.6,"82,420",Master's degree,2,None,4,None,6
4,Adhesive bonding machine operators and tenders...,"=""51-9191""",12.5,12.6,0.1,0.9,1.5,"36,280",High school diploma or equivalent,7,None,4,Moderate-term on-the-job training,4
5,"Administrative law judges, adjudicators, and h...","=""23-1021""",15.5,15.6,0.1,0.8,0.7,"97,520",Doctoral or professional degree,1,5 years or more,1,Short-term on-the-job training,5
6,Administrative services and facilities managers,"=""11-3010""",322.0,350.5,28.6,8.9,29.2,"98,890",Bachelor's degree,3,Less than 5 years,2,None,6
7,"Adult basic education, adult secondary educati...","=""25-3011""",48.3,45.9,-2.4,-5.0,5.1,"55,350",Bachelor's degree,3,None,4,None,6
8,Advertising and promotions managers * Adver...,"=""11-2011""",23.2,25.6,2.4,10.3,2.5,"133,460",Bachelor's degree,3,Less than 5 years,2,None,6
9,Advertising sales agents * Advertising Acco...,"=""41-3011""",115.1,118.7,3.6,3.1,14.8,"54,940",High school diploma or equivalent,7,None,4,Moderate-term on-the-job training,4
10,Aerospace engineering and operations technolog...,"=""17-3021""",11.9,12.9,1.1,8.9,1.2,"68,570",Associate's degree,4,None,4,None,6
11,Aerospace engineers * Aerodynamics Engineer...,"=""17-2011""",61.4,66.5,5.1,8.3,4.0,"118,610",Bachelor's degree,3,None,4,None,6
12,"Agents and business managers of artists, perfo...","=""13-1011""",18.7,27.3,8.6,46.3,3.4,"75,420",Bachelor's degree,3,Less than 5 years,2,None,6
13,Agricultural and food science technicians,"=""19-4010""",26.6,28.7,2.1,7.9,3.7,"41,970",Associate's degree,4,None,4,Moderate-term on-the-job training,4
14,Agricultural engineers * Agricultural Engin...,"=""17-2021""",1.5,1.5,0.1,4.5,0.1,"84,410",Bachelor's degree,3,None,4,None,6
15,Agricultural equipment operators * Cane Flu...,"=""45-2091""",65.0,73.4,8.4,12.9,11.7,"32,750",No formal educational credential,8,None,4,Moderate-term on-the-job training,4
16,Agricultural inspectors * Cattle Examiner* ...,"=""45-2011""",16.6,18.2,1.5,9.1,2.9,"46,700",Bachelor's degree,3,None,4,Moderate-term on-the-job training,4
17,"Agricultural sciences teachers, postsecondary ...","=""25-1041""",9.9,10.4,0.5,5.0,1.0,"90,340",Doctoral or professional degree,1,None,4,None,6
18,"Agricultural workers, all other * Crop Scou...","=""45-2099""",12.3,12.9,0.6,4.9,2.0,"30,140",No formal educational credential,8,None,4,Short-term on-the-job training,5
19,Air traffic controllers * Air Traffic Contr...,"=""53-2021""",24.5,25.5,0.9,3.8,2.5,"130,420",Associate's degree,4,None,4,Long-term on-the-job training,3